<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Amage::top_level" title="Amage" module="Amage_Cms" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="Amage_Cms::index_index" title="Import/Export CMS Content" module="Amage_Cms" sortOrder="9999" resource="Amage_Cms::index_index" parent="Amage::top_level" action="import/index/index"/>
	</menu>
</config>
